.card-side-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding-left: 9px;
}

.text-side-news-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
}

.text-side-article-image-link {
    margin-bottom: 6px;
    display: block;
    width: 100%;
}

.text-side-article-title {
    text-decoration: none;
    cursor: pointer;
    margin-top: 0;
    padding-left: 9px;;
}

.text-side-link-article {
    width: 100%;
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #000;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 6px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.text-side-link-article:hover {
    color: var(--primary-color);
}

@media (min-width: 480px) {
    .text-side-article-image-link {
        width: 80%;
    }

    .text-side-link-article {
        font-size: 16px;
    }
}

@media (min-width: 640px) {
    .text-side-article-image-link{
        width: 49%;
    }
}

@media (min-width: 998px) {
    .text-side-article-image-link{
        width: 100%;
    }
}