.home-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: auto;
    background-color: #fff;
    z-index: 1;
}

.home-wrapper {
    padding: 0px 9px;
    display: flex;
    flex-direction: column;
}


@media (min-width: 640px) {
    .home-container {
        width: 640px;
    }
}

@media (min-width: 998px) {
    .home-container {
        width: 998px;
    }
    .home-wrapper {
        flex-direction: row;
    }
}

@media (min-width: 1018px) {
    .home-container {
        padding: 0px 10px;
    }
}