.side-dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0px;
    width: 100%;
}

.side-dropdown-item{
    color: #000000;
    padding: 4px;
    margin-left: 7px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
}

.minimized-item {
    width: 100%;
}

.side-button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-nav-wrapper {
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 4px 9px 4px 0px;
    transition: background-color 0.3s ease;
}

.open-dropdown {
    display: flex;
}

.side-dropdown-item:hover {
    color: #fff;
    background-color: #f7941E;
    transition: background-color 0.2s;
}

.minimized-item.dropdown:hover  .side-nav-button {
        background-color: #f7941E;
        color: #fff;
    }