.guides-wrapper {
    padding-right: 0;
}

.guides-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding-left: 5px;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guides-image-link {
    width: 43%;
    padding: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.guides-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    vertical-align: middle;
}

.guides-text {
    background: #6e6f71;
    padding: 5px;
    font-size: 6px;
    box-shadow: 3px 3px 0 var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    margin: 8px;
}

.guides-image:hover {
    filter: brightness(200%);
}

@media (min-width: 640px) {
    .guides-wrapper {
        padding-right: 10px;
    }

    .guides-image-link {
        width: 46%;
    }
}

@media (min-width: 480px) {
    .guides-text {
        padding: 8px;
        font-size: 11px;
        margin: 18px;
    }
}