.footer-section {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.row-container {
    width: fit-content;
}

@media (min-width: 998px) {
    .footer-section {
        display: flex;
    }
}