.header {
    width: 100%;
    max-width: 1020px;
    margin: auto;
    box-sizing: border-box;
}

.header-content {
    position: relative;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    height: 90px;

}

.margin-remove {
    margin: 0 !important;

}

.link-logo {
    min-width: 230px;
    vertical-align: bottom;
    height: auto;
    box-sizing: border-box;
}

.logo {
    top: 9px;
    text-align: left;
    max-width: 230px;
    width: 100%;
    vertical-align: bottom;
    transition: 188ms ease-out;
}

.sponsor {
    margin: 0 !important;
}

@media (max-width: 1020px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        text-align: center;
        margin-bottom: 10px;
        width: 90%;
    }
    .sponsor {
        display: none;
    }
    .header {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
    }
}