.bottom-section-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-bottom {
    width: 100%;
    padding-top: 10px;
}

@media (min-width: 998px) {
    .bottom-section-wrapper {
        flex-direction: row;
    }

    .section-bottom {
        width: 50%;
    }
}