.icon-promo {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
    position: static;
}

.link-sponsor {
    position: relative;
    Z-index: 1;
    display: flex;
    justify-content: center;
}

.icon-promo-img {
    width: 45%;
}


@media (min-width: 480px) {
    .icon-promo-img {
        width: 100%;
    }
}