.top-section {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 998px) {
    .top-section {
        padding: 9px 0px;
    }
}