@font-face {
    font-family: "Open Sans Condensed";
    src: local("Open Sans Condensed"),
        url("./font/open-sans-condensed/OpenSans-CondBold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"),
            url("./font/Montserrat/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local("Roboto Condensed"),
        url("./font/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #111;
    margin: 0;
}

html, body, #root {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    --primary-color: #804600;
    --light-gray-color: #595959;
    --gray-color: #545454;
    --dark-gray-color: #424242;
    --privacy-button: #11599C;
}